

<div>
  <div>
    <label for="name">Name</label>
    <input id="name" #name />
  </div>
  <div>
    <label for="nam">mail</label>
    <input id="nam" #email />
  </div>
  <div>
    <label for="password">password</label>
    <input id="password" #password />
  </div>
  <div>
    <label for="location">location</label>
    <input id="location" #location />
  </div>
  <div>
    <label for="phone">phone</label>
    <input id="phone" #phone />
  </div>
</div>
<div>
  <button (click)="register(name.value, email.value,location.value,phone.value,password.value)">Create</button>
</div>
